/* Dashboard.js */
.main {
  margin: 2%;
  border: 2px solid rgb(0, 0, 0);
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  text-align: center;
}
.container {
  padding: 2vh;
}
.container > div {
  border: 2px dashed  #000;
  height: 20vh;
  padding: 10px;
  font-weight: bold;
  font-size: medium;
}
.container h1 {
  font-style: oblique;
  font-size: xx-large;
}
.team{
  display: flex;
  flex-direction: column;
  overflow: auto;
  align-items: flex-start;
}
.teamDiv{
  padding: 6px 16px;
  border: 1px solid black;
  width: 100%;
  text-align: start;
  margin: 5px 0;
}
.ant-btn-primary {
  color: #fff;
  border-color: black;
  background: grey;
}